@model ProfessorManagement.Models.SendRequest

@{
    ViewData["Title"] = "Create";
}

<h2>New request</h2>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Send" asp-controller="SendRequest" method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="NamesProfessor" class="control-label"></label> 
                <input asp-for="NamesProfessor" class="form-control" />
                <span asp-validation-for="NamesProfessor" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="LastNameProfessor" class="control-label"></label>
                <input asp-for="LastNameProfessor" class="form-control" />
                <span asp-validation-for="LastNameProfessor" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="SecondLastNameProfessor" class="control-label"></label>
                <input asp-for="SecondLastNameProfessor" class="form-control" />
                <span asp-validation-for="SecondLastNameProfessor" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="CIProfessor" class="control-label"></label>
                <input asp-for="CIProfessor" class="form-control" />
                <span asp-validation-for="CIProfessor" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="BirthDateProfessor" class="control-label"></label>
                <input asp-for="BirthDateProfessor" class="form-control" type="date" />
                <span asp-validation-for="BirthDateProfessor" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="PhoneProfessor" class="control-label"></label>
                <input asp-for="PhoneProfessor" class="form-control" />
                <span asp-validation-for="PhoneProfessor" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label asp-for="AddressProfessor" class="control-label"></label>
                <input asp-for="AddressProfessor" class="form-control" />
                <span asp-validation-for="AddressProfessor" class="text-danger"></span>
            </div>
             <div class="form-group">
                <label asp-for="Specialty" class="control-label"></label>
                <select asp-for="Specialty" class="form-control" asp-items="ViewBag.SubjectId">
                    <option value="Math">Math</option>
                    <option value="Literature">Literature</option>
                    <option value="Biology">Biology</option>
                    <option value="Sports">Sports</option>
                    <option value="Philosofy">Philosofy</option>
                    <option value="Music">Music</option>
                    <option value="Chemistry">Chemistry</option>
                </select>
                <span asp-validation-for="Specialty" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ForWhatGestion" class="control-label"></label>
                <input asp-for="ForWhatGestion" class="form-control" />
                <span asp-validation-for="ForWhatGestion" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Degree" class="control-label"></label>
                <select asp-for="Degree" class="form-control">
                    <option value="Graduate">Graduate</option>
                    <option value="Enginner">Enginner</option>
                    <option value="Superior technician">Superior technician</option>
                </select>
                <span asp-validation-for="Degree" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Comment" class="control-label"></label>
                <input asp-for="Comment" class="form-control" placeholder="This field is optional" />
                <span asp-validation-for="Comment" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Send request" class="btn btn-outline-primary" />
            </div>
        </form>
    </div>
</div>


@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
